*{
    margin: 0;
    padding: 0;
    background-color: #2F2f22;
}
ul{
    list-style-type:none;
}

.a1{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 262px;
}
.a2{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 314px;
}
.a3{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a4{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a5{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 427px;
}

.a6{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 477px;
}
.a7{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 527px;
}

.listing{
    /*  icon "hamburger menu" */

position: absolute;
width: 48.4px;
height: 44px;
left: 1414px;
top: 43px;
}
#face{
    /*  icon "facebook" */
 position: absolute;
 left: 1051px;
 top: 900px;
  
  }
  #goog{
   /*  icon "google" */
 position: absolute;
 left: 1207px;
 top: 900px;
 
  }
 #inst{
 /*  icon "instagram" */
 position: absolute;
 left: 1129px;
 top:  900px;
 }
  #linked{
 position: absolute;
 left: 1355px;
 top:  900px;
 }
 #twi{
     /*  icon "twitter" */
 position: absolute;
 left: 1269px;
 top:  900px;
 }
 .dropbtn {
    background-color:#2F2F2F;
   } 
   
   /* The container <div> - needed to position the dropdown content */
   .dropdown {
 
         position:  absolute;
         
        display: inline-block;
   }
   
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: black;
     right:0px;
     min-width: 360px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   /* Links inside the dropdown */
   .dropdown-content a {
     color:white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   /* Change color of dropdown links on hover */
   .dropdown-content a:hover {background-color: #ddd;}
   
   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content {display: block;}
   
   /* Change the background color of the dropdown button when the dropdown content is shown */
   .dropdown:hover .dropbtn {background-color: #2F2F2F;}
 .ccc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }