body{
    background-image: url(pexels-jorge-jesus-614117.jpg);
    background-repeat: no-repeat;
    background-size: 1512px 982px;
}

ul{
    list-style-type:  none;
}
.des{
position: absolute;
width: 550px;
height: 96px;
left: 839px;
top: 213px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
}
.co{
     
position: absolute;
width: 162px;
height: 48px;
left: 550px;
top: 644px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;


}
.htn{
position: absolute;
width: 70px;
height: 39px;
left: 1141px;
top: 452px;
/* 
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px; */

color: #FFFFFF;
}
.conbr{
position: absolute;
width: 70px;
height: 39px;
left: 1148px;
top: 656px;

/* font-family: 'Inter';
/* font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;  */

color: #FFFFFF;

}
.boh{
    /* Rectangle 9 */

position: absolute;
width: 358px;
height: 40px;
left: 756px;
top: 491px;

background: #C32865;
/* Rectangle 10 */
}
.bohh{
position: absolute;
width: 168px;
height: 40px;
left: 1057px;
top: 491px;

background: #222222;

}
.boco{
    /* Rectangle 11 */

position: absolute;
width: 275px;
height: 40px;
left: 732px;
top: 692px;

background: #C32865;
/* Rectangle 12 */

}
.bocoo{


position: absolute;
width: 218px;
height: 40px;
left: 1007px;
top: 692px;

background: #111926;
}

/* bimwe byapfukiranye ibindi */
.a1{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 262px;
}
.a2{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 314px;
}
.a3{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a4{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a5{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 427px;
}

.a6{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 477px;
}
.listing{
    /*  icon "hamburger menu" */

position: absolute;
width: 48.4px;
height: 44px;
left: 1414px;
top: 43px;
}
#face{
    /*  icon "facebook" */
 position: absolute;
 left: 1051px;
 top:  900px;
  
  }
  #goog{
   /*  icon "google" */
 position: absolute;
 left: 1207px;
 top:  900px;
 
  }
 #inst{
 /*  icon "instagram" */
 position: absolute;
 left: 1129px;
 top:  900px;
 }
  #linked{
 position: absolute;
 left: 1355px;
 top:  900px;
 }
 #twi{
     /*  icon "twitter" */
 position: absolute;
 left: 1269px;
 top: 900px;
 }











