@media screen and(width<= 414px) {
   body{
    width: 50%;
   }
   .right{
    width: 30%;
    justify-content: center;
    top: 10px;
    position: absolute;
   }
   img{
    width: 100%;
   }
   .left{

    position: absolute;
    width: 30%;
    justify-content: center;
    top: 300px;
   }
   #number{
    visibility: collapse;
   }
   #line{
    visibility: collapse;
   }
   #address{
    visibility: collapse;
   }
}
@media screen and(width <= 1024px) {
  body{
   width: 100%;
  }
  .right{
   width: 50%;
   float: right; 
   position: absolute;
  }
  img{
   width: 100%;
  }
  .left{

   position: absolute;
   width: 50%;
  float: left;
  }
   
}
html{
    width:100%;
    margin: 0;
    padding: 0;
 }
 body{
    width: 100%;
    background-color: #141617;
    overflow-x: hidden;
 }
  
   body::-webkit-scrollbar-track
  {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgb(19, 16, 16);
  }
   body::-webkit-scrollbar
  {
  width: 6px;
  /* background-color: #F5F5F5; */
  } 
  body::-webkit-scrollbar-thumb
  {
  background-color: #DA4C84;
  }
  body::-webkit-scrollbar-thumb:hover
  {
  background-color: rgba(82, 74, 74, 0.816);
  }
 
ul{
    list-style-type:  none;   
}
.navi{
    display: flex;
    flex-direction: row;
     justify-content: space-between; 
    color:#fff;
     
    font-family: 'poppins';
    font-size: 1em;
    font-weight: bold;
  } 
  #izina{
    position: inherit;
    top:inherit;
    color: blue;
    font-family: 'poppins';
    font-size:1.8em;
  }
  #ijambo{
    display: flex;
     font-family: 'poppins';
     font-size: 1.2em;
    color: #FFFFFF;
    text-align: left;
    position:  fixed;
    padding: 2pc;
    bottom: 0px;
  }
  .rest{
    display: flex;
    flex-direction: column;
    float: right;
    cursor: pointer;
    padding-right: 2pc;
    padding-top: 2pc;
  }
  #ico{
    display:inline-flex;
    float: right;
    position: fixed;
    margin: 2px;
    padding: 4pc;
    padding-right: 4pc;
    right: 0px;
    bottom:0px;
  }
  .dropdown {
    display: flex;
    float: right;
   
    position: fixed;
    right: 20px;
    top: 25px;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141617;
  right:0px;
  overflow: hidden;
  min-width: 360px;
  min-height: 100vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2F2F2F;}

.ccc{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 padding-left: 20px;
 top: 400px;
 position: fixed;
}
#ntwari{
 top:450px;
 padding-left: 30px;
 position: fixed;
}

  
  .a1{

    display: flex;
    position: fixed ;
     right:65px;
    width: 15px;
    height: 15px;
    top: 162px;
    border-radius: 50%;

  }  
  .a2{
    position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 202px;
    border-radius: 50%;
  }
  .a3{
    position:fixed;
    right:65px;
    width: 15px;
    height: 15px;
    top: 242px;
    border-radius: 50%;
  }
  .a4{
     position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 283px;
    border-radius: 50%;
  }
  .a5{
    position:fixed;
     right:65px;  
    width: 15px;
    height: 15px;
    top:  322px;
    border-radius: 50%;
  }
  
  .a6{
     position:fixed;
    right:65px;
    width: 15px;
    height: 15px;
    top:  362px;
    border-radius: 50%; 
/* 
    display:inline-flex;
    float: right;
    position: fixed;
    margin: 2px;
    padding: 4pc;
    padding-right: 4pc;
    right: 0px;
    bottom:0px; */
     
  }
  .a1,.a2, .a3, .a4, .a5, .a6{
    display: flex;
   
    background-color: #579ec2;

  }
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  #hor1{
    width: 300px;
    border:  solid #DA4C84;
  }
  #hor2{
    width: 300px;
    border:2px solid #DA4C84;
  }
  #face{ 
    /* 🦆 icon "facebook" */
   
  top: 900px;
  
  }
  #goog{  
   /* 🦆 icon "google" */
   
   position:fixed;
   bottom:  78px;
   right: 90px;
  }
  #inst{  
  /* 🦆 icon "instagram" */
  position:fixed;
   bottom:  78px;
   right: 115px;
  }
  #linked{
    position:fixed;
    bottom:  78px;
    right: 145px;
  }
  #twi{  
     /* 🦆 icon "twitter" */
   
     position:fixed;
     bottom:  78px;
     right: 175px;
  }
   

.left{
  display: flex;
  float:left;
  flex-direction: column;
  width: 50%;
  
  
  position: absolute;
  top: 200px;
  left: 160px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 104px;
}
.right{
  display: flex;
  flex-direction: column;
  float: right;
  
  position:absolute;
  top: 340px;
  right: 41px;
  padding-left: 12px;
  
  color: #FFF;
}
 
  .button:hover {
  background: #ccc;
  cursor: pointer;
} 

a:link { text-decoration: none; }
 a:visited { text-decoration: none; }
 a:hover { text-decoration: none; }
 a:active { text-decoration: none; }
.cofepara{
  font-family: 'sans-serif', serif;
  font-weight: 400;
  font-size: 25px;
 color: #FFF;
}

#friend{
  border: 0px solid ;
  background-color: #2F2F2F;
}
#happy{
  border: 0px solid ;
  background-color: #2F2F2F;
}
#tpt{
  border: 0px solid ;
  background-color: #2F2F2F;
}
#comment{
  font-family:'Geneva', serif;
  font-weight:400;
  font-size:25px;

  color:#FFF;
}
#iconn{
  width: 50px;
  height: 50px;  
  padding: 10px;
  border: 1px solid #fff;
  background-color:#fff;
}
#leave{
  font-family: 'poppins';
  font-weight: 500;
  font-size:25px;

  color:#fff;

}
.form{
  box-sizing: border-box;
  /* box-shadow:   black; */
 padding-bottom: 34px;
} 
  #con{
  
   width: 180px;
   height: 40px;
   position:initial;
   left: 909px;
   top: 944px;
   margin: 4px;
   background:  #A91957;
   cursor: pointer;
  }
  #subject{
    width: 389px;
   height: 30px;
   left: 806px;
   top: 333px;
   background: #232628;
   margin: 4px;
 } 
#name{
  width: 170.5px;
  height: 30px;
  left: 806px;
  top: 237px;
  background:  #222527;
  margin: 2px 4px 4px 4px;
}
  #email{
    width: 200.5px;
    height: 30px;
    left: 1128px;
    top: 235px;
    background:  #232628;
     margin: 0 4px 4px 4px;
  }
.send{
    width: 120px;
    height: 40px;
    position:initial;
    
    top: 944px;
    margin: 4px;
    background:  #A91957;
    cursor: pointer;
  }
  #number{
    top: 24px;
    position: fixed;
     left: 430px;
  }
  #line{
    top: 24px;
    position: fixed;
     left: 570px;
  }
  #address{
    top: 24px;
    position: fixed;
     left: 580px;
  }
  .scroller{
    /* box-sizing: border-box; */
    box-sizing: content-box;
    border: solid #141617;
    width: 220px;
    height: 100vh;
    padding-bottom: 8px;
    overflow-x: scroll;

    
    padding-left: 20px;
    top: 100px;
    position: fixed;
  }
  .scroller::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color:  #141617;
}
.scroller::-webkit-scrollbar
{
width: 16px;
background-color:  #141617;
} 
.scroller::-webkit-scrollbar-thumb
{
width: 12px;
background-color: purple;
}
#button{

  width: 34px;
  height: 32px;

  background-color: #141617;

}
#button:hover{
  background-color: #A91957;
}