*{
     margin:0;
    padding: 0; 
    box-sizing: border-box;
    display: flexbox;
    flex-wrap: wrap;
     
}

body{
    background-image: url("1000_locations.jpg");
    background-repeat: no-repeat;
    background-size:1553px 982px; 
 }
ul{
    list-style-type:  none;
}
 
  @media only screen and (max-width:390px) {
    /* For mobile phones: */
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .rest{
        width: 65%;
        height: 100%;
        margin:0;
    }
    .navi, .dropdown {
      width:auto;
      height: auto;
    }
  }
  @media only screen and (max-width:800px) {
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .rest{
        width: 65%;
        height: 100%;
        margin:0;
    }
    .navi, .dropdown {
        width:auto;
        height: auto;
      }
  }
  @media only screen and (max-width:1024px) {
    body{
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .rest{
        width: 65%;
        height: 100%;
        margin:0;
    }
    .navi, .dropdown {
        width:auto;
        height: auto;
      }
  }
.sp{
    display: flexbox;
 position: absolute;  
 width: 391px;
height: 58px;
left: 131px;
top: 132px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #27FF59;
}
.my{
display: flexbox;
position: absolute;  
 width: 563px;
height: 48px;
left: 116px;
top: 420px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
}
.para{

 position: absolute; 
 width: 330px;
height: 48px;
left: 124px;
top: 514px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

}
.labels{
display: flex;

 position: absolute; 
width: 298px;
height: 55px;
left: 806px;
top: 237px;

background: #2F2F2F;

}
#con{
     display: flex; 
     
 position: absolute;   
width: 265px;
height: 60px;
left: 819px;
top: 744px;

background: #FF2642;

}
#education{
     position:  absolute; 
   width: 15px;
    height: 15px;
    left: 1442px;
    top: 314px;
}
#experience{
    position:  absolute; 
   width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
#blog{
    position:  absolute; 
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
#contact{
     position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 427px;
}

.a6{
     position:  absolute; 
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 477px;
} 
.listing{
    /*  icon "hamburger menu" */

position: absolute;
width: 48.4px;
height: 44px;
left: 1414px;
top: 43px;
}
.ico{
    position: absolute;
    left: 1371px;
    top: 900px;
    display: inline;
    display: table-row; 
}
.a1{
     position:  absolute; 
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 262px;
}
.a2{
     position:  absolute; 
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 314px;
}
.a3{
     position:  absolute; 
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a4{
    position:  absolute;
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a5{
     position:  absolute; 
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 427px;
}
.labels-te1{
 position: absolute; 
 width: 298px;
height: 55px;
left: 806px;
top: 237px;
background: #2F2F2F;
 
}
.te-em{

 position: absolute; 
width: 250px;
height: 57px;
left: 1128px;
top: 235px;
background: #2F2F2F;

}

.labels-te2{
 position: absolute; 
width: 455px;
height: 66px;
left: 809px;
top: 333px;

background: #2F2F2F;

}
.msgbox{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 16px;
    text-align: start;  
    position: absolute; 
    width: 400px;
    height: 204px;
    left: 806px;
    top: 445px; 
    
    background: #2F2F2F; 
    }
    #face{
        /*  icon "facebook" */
      position: absolute; 
     left: 1051px;
     top:  900px;
      
      }
      #goog{
       /*  icon "google" */
      position: absolute; 
     left: 1207px;
     top:  900px;
     
      }
     #inst{
     /*  icon "instagram" */
     position: absolute;
     left: 1129px;
     top:  900px;
     }
      #linked{
     position: absolute;
     left: 1355px;
     top:  900px;
     }
     #twi{
         /*  icon "twitter" */
     position: absolute;
     left: 1269px;
     top:  900px;
     }
  
     .dropbtn {
        background-color:#2F2F2F;
       } 
       
       /* The container <div> - needed to position the dropdown content */
       .dropdown {
     
             position:  absolute;
             
            display: inline-block;
       }
       
       /* Dropdown Content (Hidden by Default) */
       .dropdown-content {
         display: none;
         position: absolute;
         background-color: black;
         right:0px;
         min-width: 360px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index: 1;
       }
       
       /* Links inside the dropdown */
       .dropdown-content a {
         color:white;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
       }
       
       /* Change color of dropdown links on hover */
       .dropdown-content a:hover {background-color: #ddd;}
       
       /* Show the dropdown menu on hover */
       .dropdown:hover .dropdown-content {display: block;}
       
       /* Change the background color of the dropdown button when the dropdown content is shown */
       .dropdown:hover .dropbtn {background-color: #2F2F2F;}
       .ccc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }