 html{
    width:100%;
    margin: 0;
    padding: 0;
 }
body{
  width: 100%;
    background-image: url("1000_locations.jpg");
    background-repeat: no-repeat;
    background-size:1553px 982px; 
 }
ul{
    list-style-type:  none;
    
}
@media only screen and (max-width: 414px) {
  /* For mobile phones:  */
  body{
     
      width: 100%;
      margin: 0;
      padding: 0;
  }
  #ico{
    position: absolute;
    padding: 2px 2px 2px 2px;
    bottom: 0;
  }
  .left{
      width: 100%;
      margin:0;
  }
  .right{
    width:75%;
    align-items: center;
  }
  #ijambo{
    position: absolute;
    bottom: 0px;
    
  }
  .a1 ,.a2, .a3,.a4,.a5{
    visibility: visible;
  }
   form{
   width: 100%;
   margin:0;
   padding:0;
     float:center;
    padding-left: 5pc;
    padding-right: 5pc;
  }  
  #izina{
    position: fixed;
    top:0;
    padding-left: 2px;
  }
  #line, #number,#address{
    visibility: hidden;
  }
  .listing{
    position: fixed;
    top:8px;
    padding-right: 2px;
  }
  .dropdown-content {
    max-width: 10px;
    right:1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -3;
  }
}
@media only screen and (max-width:800px) {
   /* For mobile ipads:  */
   body{
    width: 100%;
    height: 1180px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("1000_locations.jpg");
    background-repeat: no-repeat;
    background-size:820px 1180px;
}
#ico{
  position: absolute;
  padding: 2px 2px 2px 2px;
  bottom: 0;
}
.left{
    width: 100%;
    margin:0;
}
.right{
  width:75%;
  align-items: center;
}
#ijambo{
  position: absolute;
  bottom: 0px;
  
}
.a1 ,.a2, .a3,.a4,.a5{
  visibility: visible;
}
 form{
 width: 100%;
 margin:0;
 padding:0;
   float:center;
  padding-left: 5pc;
  padding-right: 5pc;
}  
#izina{
  position: fixed;
  top:0;
  padding-left: 2px;
}
#line, #number,#address{
  visibility: hidden;
}
.listing{
  position: fixed;
  top:8px;
  padding-right: 2px;
}
.dropdown-content {
  max-width: 10px;
  right:1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -3;
}
}
@media only screen and (max-width:1024px) {
  body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.right, .left{
    width: 100%;
    margin:0;
}
 .navi, .rest {
  width:auto;
  height: auto;
}
}
 .navi{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  color:#fff;
   
  font-family: 'poppins';
  font-size: 1em;
  font-weight: bold;
} 
#izina{
  position: inherit;
  top:inherit;
  color: blue;
  font-family: 'poppins';
  font-size:1.8em;
}
#ijambo{
  display: flex;
   font-family: 'poppins';
   font-size: 1.2em;
  color: #FFFFFF;
  text-align: left;
  position:  fixed;
  padding: 2pc;
  bottom: 0px;
}
.right{
  display: flex;
  flex-direction: column;
  float: right;
  
  padding-right: 3pc;
   
}
 .dropbtn{
  right: 0;
 }
.msgbox{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
   margin: 4px 4px 4px 4px;
   padding-top: 16px;
  text-align: start;   
   width: 394px; 
   height: 165px; 
  left: 806px;
  top: 445px; 
  
  background:  #232628; 
  } 
  #con{
  
   width: 180px;
   height: 40px;
   position:initial;
   left: 909px;
   top: 944px;
   margin: 4px;
   background:  #A91957;
   cursor: pointer;
  }
  #subject{
    width: 389px;
   height: 30px;
   left: 806px;
   top: 333px;
   background: #232628;
   margin: 4px;
 } 
#name{
  width: 170.5px;
  height: 30px;
  left: 806px;
  top: 237px;
  background:  #222527;
  margin: 2px 4px 4px 4px;
}
  #email{
    width: 200.5px;
    height: 30px;
    left: 1128px;
    top: 235px;
    background:  #232628;
     margin: 0 4px 4px 4px;
  }
.left{
  display: flex;
  flex-direction: column;
  float: left;
  color: #ddd;
  padding-left: 28px;

  font-family: 'poppins';
  font-size: 1.8em;

}
#sp{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  color: #DA4C84;
}
.rest{
  display: flex;
  flex-direction: column;
  float: right;
  cursor: pointer;
  padding-right: 2pc;
  padding-top: 2pc;
}
#ico{
  display:inline-flex;
  float: right;
  position: fixed;
  margin: 2px;
  padding: 4pc;
  padding-right: 4pc;
  right: 0px;
  bottom:0px;
}
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
     display: flexbox;
     display: flex;
     float: right;

       /* position:  absolute; */
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   right:0px;
   min-width: 360px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color:white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}
 
 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: #2F2F2F;}

 .ccc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.a1{
  width: 15px;
  height: 15px;
  left: 1442px;
  top: 262px;
  border-radius: 50%;
  visibility: collapse;
}  
.a2{
  
  width: 15px;
  height: 15px;
  left: 1442px;
  top: 314px;
  border-radius: 50%;
  visibility: collapse;
}
.a3{
   
  width: 15px;
  height: 15px;
  left: 1442px;
  top: 374px;
  border-radius: 50%;
  visibility: collapse;
}
.a4{
   
  width: 15px;
  height: 15px;
  left: 1442px;
  top: 374px;
  border-radius: 50%;
  visibility: collapse;
}
.a5{  
  width: 15px;
  height: 15px;
  left: 1442px;
  top: 427px;
  border-radius: 50%;
  visibility: collapse;
}

.a6{
   
  width: 15px;
  height: 15px;
  left: 1442px;
  top: 477px;
  border-radius: 50%;
  background-color: #9C2051;
}











 































/* #name{

          position:absolute;   
          width: 298px;
          height: 55px;
          left: 806px;
          top: 237px;
          background: #2F2F2F;
} */
/* #email{
   
          position:  absolute; 
          width: 250px;
            height: 57px;
            left: 1128px;
            top: 235px;
            background: #2F2F2F;
}
*/
/* #line{
    
     
    position: fixed;
    width: 9px;
    height: 30px;
    left: 451px;
    top: 25px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px; 
  
    color: #FFFFFF;
} */
/* #address{
     
    display: flex;
     position:  fixed;   
  width: 209px;
  height: 90px;
  left: 484px;
  top: 28px;
  
   font-family: 'Geneva';
  
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;  
  /* identical to box height */
  
  /* color: #40c6de;
  
}  */
/* #number{
    position: fixed; 
     width: 250px;
    height: 23px;
    left: 325px;
    top: 26px;
    
      font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
      margin: 0;
    color: #FFFFFF;
}
#izina{
    padding-left: 16px;
    position: relative;
    top: 26px;
    color: blue;
    font-size:larger;
}
   .nana{
    position:absolute;   
    width: 298px;
    height: 55px;
    left: 806px;
    top: 237px;
    background: #2F2F2F;
  }
.sp{
   
 width: 391px;
height: 58px;
left: 806px;
top: 237px;

font-family: 'Inter';
font-style: normal;
 font-weight: 500; 
font-size: 44px;
line-height: 58px;
color: #27FF59;
}
.my{
display: flexbox;
position: absolute;  
 width: 563px;
height: 48px;
left: 116px;
top: 420px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
}
.para{

 position: absolute; 
 width: 330px;
height: 48px;
left: 124px;
top: 514px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

}
.labels{
display: flex;

 position: absolute; 
width: 298px;
height: 55px;
left: 806px;
top: 237px;

background: #2F2F2F;

}
#con{
 

}

.a6{
     position:  absolute; 
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 477px;
} 
.listing{
    /*  icon "hamburger menu" */

/* position: absolute;
width: 48.4px;
height: 44px;
left: 1414px;
top: 43px;
}
.ico{
    position: absolute;
    left: 1371px;
    top: 900px;
    display: inline;
    display: table-row; 
}
.a1{
     position:  absolute; 
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 262px;
}
.a2{
     position:  absolute; 
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 314px;
}
.a3{
     position:  absolute; 
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a4{
    position:  absolute;
     width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a5{
     position:  absolute; 
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 427px;
}
.labels-te1{
 position: absolute; 
 width: 298px;
height: 55px;
left: 806px;
top: 237px;
background: #2F2F2F;
  */
/* }
.te-em{

 position: absolute; 
width: 250px;
height: 57px;
left: 1128px;
top: 235px;
background: #2F2F2F;

}

.labels-te2{
 position: absolute; 
width: 455px;
height: 66px;
left: 809px;
top: 333px;

background: #2F2F2F;

}
.msgbox{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 16px;
    text-align: start;  
    position: absolute; 
    width: 400px;
    height: 204px;
    left: 806px;
    top: 445px; 
    
    background: #2F2F2F; 
    } */
     /* #face{ */
        /*  icon "facebook" */
      /* position: absolute; 
     left: 1051px;
     top:  900px;
      
      }
      #goog{ */
       /*  icon "google" */
      /* position: absolute; 
     left: 1207px;
     top:  900px;
     
      }
     #inst{ */
     /*  icon "instagram" */
     /* position: absolute;
     left: 1129px;
     top:  900px;
     }
      #linked{
     position: absolute;
     left: 1355px;
     top:  900px;
     }
     #twi{ */
         /*  icon "twitter" */
     /* position: absolute;
     left: 1269px;
     top:  900px;
     }
  
     .dropbtn {
        background-color:#2F2F2F;
       }  */
       
       /* The container <div> - needed to position the dropdown content */
       /* .dropdown {
      
             
            display: inline-block;
       }
        */
       /* Dropdown Content (Hidden by Default) */
       /* .dropdown-content {
          
         background-color: black;
          
         min-width: 360px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index: 1;
       }
        */
       /* Links inside the dropdown */
       /* .dropdown-content a {
         color:white;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
       } */
       
       /* Change color of dropdown links on hover */
       /* .dropdown-content a:hover {background-color: #ddd;} */
       
       /* Show the dropdown menu on hover */
       /* .dropdown:hover .dropdown-content {display: block;} */
       
       /* Change the background color of the dropdown button when the dropdown content is shown */
       /* .dropdown:hover .dropbtn {background-color: #2F2F2F;}
       .ccc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }  */