/* *{
  box-sizing: border-box;
} */

html{
    width:100%;
    margin: 0;
    padding: 0;
 }
 @media only screen and( width: 414px) {
  body{
    width: 100%;
     }
     #number{
      visibility: collapse;
     }
     #line{
      visibility: collapse;
     }
     #address{
      visibility: collapse;
     }
     
     .listing{
      top: 12px;
      padding-right: 6px;
     }
     .para_left{
      width: 20px;
      text-align: left;
      display: flexbox;
      flex-direction: column;
       
      float:left;
      position: absolute;
      top: 40px;
      padding: 4px 5px 2px;
     }
     .para_right{
    
      width: 20px;
      text-align: left;
      display: flexbox;
      flex-direction: column;


    top: 20px;
    text-align: right;
    float: right;
    padding: 2px 5px 2px;
 
    position: absolute;
     }
     .para_center{
      width: 20px;
      text-align: left;
      display: flexbox;
      flex-direction: column; 

      width: 40px;
      position: absolute;
      top: 20px;
      justify-content: center;
      text-align: center;
      padding: 2px 5px 2px;
  
       }
  

    }

 ul{
    list-style-type: none;
 }
 body{
  background-color: #141617;
 }
#above{
  font-family: 'Verdana, Geneva, Tahoma, sans-serif';
  font-size: 45px;
  font-weight: 400;

  display: flex;
  flex-direction: row;
  float: left;
  left: 114px;
  top: 150px;
  position:fixed;

}
.para_right #ghtp{
  display: flexbox;
  font-family: 'Geneva';
  font-size: 20px;
  font-weight: 100;
   
  height: 30px;
  color: #fff;
}
#ghtp:hover{
  color:#DA4C84;
  cursor: pointer;
}
#nterp{
  font-family: 'Geneva';
  font-size: 20px;
  font-weight: 100;
   
  display: flexbox;
  height: 30px;
  color: #fff;
}
#nterp:hover{
  color:#DA4C84;
  cursor: pointer;
}
#ftp{
  font-family: 'Geneva';
  font-size: 22px;
  font-weight: 100;

  height: 30px;
  color: #fff;
}
 a:link { text-decoration: none; }
 a:visited { text-decoration: none; }
 a:hover { text-decoration: none; }
 a:active { text-decoration: none; }
#ftp:hover{
  color:#DA4C84;
  cursor: pointer;
}


.para_left{
  display: flex;
  flex-direction: column;
  float: left;
  text-align: left;
  font-family:'Intel';
  font-style: normal;

  font-weight:normal;
  line-height:15px;

  color:#fff;
  position: absolute; 
  width: 350px;
  left: 114px;
  top:  300px;
}
.para_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
 text-align: center;
  float: center;

  color: #fff;

  font-family:'Intel';
  font-style: normal;

  font-weight:normal;
  line-height: 15px;
   
  position: absolute;
   width: 350px;
 top:  300px;
  color:#fff;

  left: 450px;
  padding-left: 20px;
  padding-right: 20px;
 

}
#ijambo{
  position: absolute;
  bottom: 50px;
  padding-left: 20px;
  
}
.para_right{
  display: flex;
  flex-direction: column;
  float: right;

  font-family:'Intel';
  font-style: normal;
  font-weight:normal;
  line-height:15px;

 position: absolute; 
width: 350px;
right: 114px;
top:  300px;

color: #fff;
}
.navi{
  position: sticky;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  z-index: 1;
  width: 100%;
  color: #fff;
}
 .rest{
    display: flex;
    flex-direction: column;
    float: right;
    cursor: pointer;
    padding-right: 2pc;
    padding-top: 2pc;
  }
  #ico{
    display:inline-flex;
    float: right;
    position: fixed;
    margin: 2px;
    padding: 4pc;
    padding-right: 4pc;
    right: 0px;
    bottom:0px;
  }

  .dropdown {
    display: flexbox;
    display: flex;
    float: right;

      /* position:  absolute; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141617;
  right:0px;
  overflow: hidden;
  min-width: 360px;
  min-height: 100vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2F2F2F;}

.ccc{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 padding-left: 20px;
 top: 400px;
 position: fixed;
}
#ntwari{
 top:450px;
 padding-left: 30px;
 position: fixed;
}

  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  
  .a1{
    position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 162px;
    border-radius: 50%;

  }  
  .a2{
    position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 202px;
    border-radius: 50%;
  }
  .a3{
    position:fixed;
    right:65px;
    width: 15px;
    height: 15px;
    top: 242px;
    border-radius: 50%;
  }
  .a4{
     position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 283px;
    border-radius: 50%;
  }
  .a5{
    position:fixed;
     right:65px;  
    width: 15px;
    height: 15px;
    top:  322px;
    border-radius: 50%;
  }
  
  .a6{
    position:fixed;
    right:65px;
    width: 15px;
    height: 15px;
    top:   362px;
    border-radius: 50%;
  }
  .a1,.a2, .a3, .a4, .a5, .a6{
    background-color: #181A1B;
  }
  
#face{ 
  /*  icon "facebook" */
 
top: 900px;
}
#face:hover{
  color:#DA4C84;
}
#goog{  
 /*  icon "google" */
 
 position:fixed;
 bottom:  78px;
 right: 90px;
}
#goog:hover{
  color:#DA4C84;
}
#inst{  
/*  icon "instagram" */
position:fixed;
 bottom:  78px;
 right: 115px;
}
#inst:hover{
  color:#DA4C84;
}
#linked{
  position:fixed;
  bottom:  78px;
  right: 145px;
}
#linked:hover{
  color:#DA4C84;
}
#twi{  
   /*  icon "twitter" */
 
   position:fixed;
   bottom:  78px;
   right: 175px;
}
#twi:hover{
  color:#DA4C84;
  cursor:pointer;
}
#number{
  top: 24px;
  position: fixed;
   left: 430px;
}
#line{
  top: 24px;
  position: fixed;
   left: 570px;
}
#address{
  top: 24px;
  position: fixed;
   left: 580px;
}
.scroller{
  /* box-sizing: border-box; */
  box-sizing: content-box;
  border: solid #141617;
  width: 220px;
  height: 100px;
  padding-bottom: 8px;
  overflow-x: scroll;

  
  padding-left: 20px;
  top: 100px;
  position: fixed;
}
.scroller::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color:  #141617;
}
.scroller::-webkit-scrollbar
{
width: 6px;
background-color:  #141617;
} 
.scroller::-webkit-scrollbar-thumb
{
background-color: purple;
}