body{
    background-image: url("junior.jpg");
    background-repeat:no-repeat;
    background-size: 1511.65px 984.6px;

}
ul{
    list-style-type: style type none;
     
}
.a1{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 262px;
}
.a2{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 314px;
}
.a3{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a4{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a5{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 427px;
}

.a6{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 477px;
}
.listing{
    /*  icon "hamburger menu" */

position: absolute;
width: 48.4px;
height: 44px;
left: 1414px;
top: 43px;
}
#face{
    /*  icon "facebook" */
 position: absolute;
 left: 1051px;
 top: 1003px;
  
  }
  #goog{
   /*  icon "google" */
 position: absolute;
 left: 1207px;
 top: 1002px;
 
  }
 #inst{
 /*  icon "instagram" */
 position: absolute;
 left: 1129px;
 top: 1003px;
 }
  #linked{
 position: absolute;
 left: 1355px;
 top: 1004px;
 }
 #twi{
     /*  icon "twitter" */
 position: absolute;
 left: 1269px;
 top: 1003px;
 }