*{
    box-sizing: border-box;
}
html{
  width:100%;
  margin: 0;
  padding: 0;
}
body{
width: 100%;
}
@media  only screen and (max-width:414px) {
    .body{
        width:100%;
        height:100%;
        margin:0;
    }
      .web{
        width: 33.333%;
      }
      .pro{
        width: 33.33%;
      }
      .mobile{
        width: 100%;
      }
    .navi,.dropdown, .cont, .pp,#icu{
        display: flex;
        width: 100%;
        height: fit-content;
    }
}
@media  only screen and (max-width:800px) {
        .body{
            width:100%;
            height:100%;
            margin:0;
            width: 100%;
        }
          .web{
            width: 33.333%;
          }
          .pro{
            width: 33.33%;
          }
          .mobile{
            width: 100%;
          }
        .navi,.dropdown, .cont, .pp,#icu{
            display: flex;
            width: 100%;
            height: fit-content;
        }
}
@media  only screen and (max-width:1024px) {
    .body{
        width:100%;
        height:100%;
        margin:0;
    }
      .web{
        width: 33.333%;
      }
      .pro{
        width: 33.33%;
      }
      .mobile{
        width: 100%;
      }
    .navi,.dropdown, .cont, .pp,#icu{
        display: flex;
        width: 100%;
        height: fit-content;
    }
}
body{
    background-image: url("junior.jpg");
    background-repeat:no-repeat;
    background-size: 1511.65px 984.6px;

}
ul{
    list-style-type:none;
}

.navi{
  position: sticky;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  z-index: 1;
  width: 100%;
  color: #fff;
}

a:link { text-decoration: none; }
 a:visited { text-decoration: none; }
 a:hover { text-decoration: none; }
 a:active { text-decoration: none; }
.ccc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pp{
/* MY SPECIALIZATION */

position: absolute;
width: 500px;
height: 35.45px;
left: 103.33px;
top: 111.21px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

}
 
 .web{ 

position: absolute;
width: 165.61px;
height: 109.99px;
left:  200px;
top: 260.44px;
 }
 .pro{
/* 🦆 icon "code" */

position: absolute;
width: 106.01px;
height: 80.24px;
left: 580.98px;
top: 260.44px;

 }
 .mobile{
 /* 🦆 icon "phone apps" */

position: absolute;
width: 46.09px;
height: 96.03px;
left: 1033.98px;
top: 250.44px;

 }
  #web{
  
    font-family: 'Geneva';
  font-size: 20px;
  font-weight: 100;
 
  position:fixed;
  left: 200px;
  top:300px;
  height: 30px;
  color:#DA4C84;
  }
  #web_para{
     
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    font-family:'Intel';
    font-style: normal;
  
    font-weight:normal;
    line-height:15px;
  
    color:#fff;
    position: fixed;
    width: 350px;
    left: 114px;
    top:  350px;
     
  }
  #pro{
    display: flex;
    flex-direction: column;
    text-align: center;

    
      font-family: 'Geneva';
      font-size: 20px;
      font-weight: 100;

      position:fixed;
      left: 540px;
      top:  300px; 
      height: 30px;
      color:#DA4C84;

  }
  #pro_para{

    display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;
    float: center;
  
    color: #fff;
  
    font-family:'Intel';
    font-style: normal;
  
    font-weight:normal;
    line-height: 15px;
  
    color:#fff;
    position: fixed;
    width: 350px;
    left: 450px;
    padding-left: 20px;
    padding-right: 20px;
    top:  350px;
  
     
  }
  #mobile{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Geneva';
    font-size: 22px;
    font-weight: 100;

    position:fixed;
    right: 214px;
    top:  300px;
    height: 30px;
    color:#DA4C84;
  }
  #mobile_para{

    display: flex;
    flex-direction: column;
    float: right;
  
    font-family:'Intel';
    font-style: normal;
    font-weight:normal;
    line-height:15px;
  
  position: fixed;
  width: 350px;
  right: 114px;
  top:  350px;
  
  color: #fff;
  }
  .rest{
    display: flex;
    flex-direction: column;
    float: right;
    cursor: pointer;
    padding-right: 2pc;
    padding-top: 2pc;
  }
  #ico{
    display:inline-flex;
    float: right;
    position: fixed;
    margin: 2px;
    padding: 4pc;
    padding-right: 4pc;
    right: 0px;
    bottom:0px;
  }

   /* The container <div> - needed to position the dropdown content */
   .dropdown {
       display: flexbox;
       display: flex;
       float: right;
  
         /* position:  absolute; */
   }
   
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: black;
     right:0px;
     min-width: 360px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   /* Links inside the dropdown */
   .dropdown-content a {
     color:white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   /* Change color of dropdown links on hover */
   .dropdown-content a:hover {background-color: #ddd;}
   
   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content {display: block;}
   
   /* Change the background color of the dropdown button when the dropdown content is shown */
   .dropdown:hover .dropbtn {background-color: #2F2F2F;}
  
   .ccc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .a1{
    position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 262px;
    border-radius: 50%;

  }  
  .a2{
    position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 314px;
    border-radius: 50%;
  }
  .a3{
    position:fixed;
    right:65px;
    width: 15px;
    height: 15px;
    top: 374px;
    border-radius: 50%;
  }
  .a4{
     position:fixed;
     right:65px;
    width: 15px;
    height: 15px;
    top: 374px;
    border-radius: 50%;
  }
  .a5{
    position:fixed;
     right:65px;  
    width: 15px;
    height: 15px;
    top: 427px;
    border-radius: 50%;
  }
  
  .a6{
    position:fixed;
    right:65px;
    width: 15px;
    height: 15px;
    top: 477px;
    border-radius: 50%;
  }
  
#face{ 
  /* 🦆 icon "facebook" */
 
top: 900px;
}
#face:hover{
  color:#DA4C84;
}
#goog{  
 /* 🦆 icon "google" */
 
 position:fixed;
 bottom:  78px;
 right: 90px;
}
#goog:hover{
  color:#DA4C84;
}
#inst{  
/* 🦆 icon "instagram" */
position:fixed;
 bottom:  78px;
 right: 115px;
}
#inst:hover{
  color:#DA4C84;
}
#linked{
  position:fixed;
  bottom:  78px;
  right: 145px;
}
#linked:hover{
  color:#DA4C84;
}
#twi{  
   /* 🦆 icon "twitter" */
 
   position:fixed;
   bottom:  78px;
   right: 175px;
}
#twi:hover{
  color:#DA4C84;
  cursor:pointer;
}
  
  