
body{
    background-color: #333333;
}
ul{
    list-style-type: none;
}
.a1{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 262px;
}
.a2{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 314px;
}
.a3{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a4{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 374px;
}
.a5{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 427px;
}
.a6{
    position:  absolute;
    width: 15px;
    height: 15px;
    left: 1442px;
    top: 477px;
}
.listing{
    /* 🦆 icon "hamburger menu" */

position: absolute;
width: 48.4px;
height: 44px;
left: 1414px;
top: 43px;

} 
 .bottom{
    position: absolute;
    left: 1371px;
    top: 900px;
    display: inline;
    display: table-row;
} 


img
{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 597px;
height: 1002px;
left: 821px;
top: -10px;

width: 577px;
height: 982px;

background: url("fiacre.jpg");

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

