html{
    width:100%;
    margin: 0;
    padding: 0;
 }
body{
    width: 100%;
    background-color:  #1C1C1C;
    background-size:1553px 982px;
}
ul{
    list-style-type: none;
  
}
a:link { text-decoration: none; }
 a:visited { text-decoration: none; }
 a:hover { text-decoration: none; }
 a:active { text-decoration: none; }
@media only screen and(width:414px) {
  body{
     
      width: 100%;
      margin: 0;
      padding: 0;
  }
  #number{
    visibility: collapse;
   }
   #line{
    visibility: collapse;
   }
   #address{
    visibility: collapse;
   }
  #ico{
    position: absolute;
    padding: 2px 2px 2px 2px;
    bottom: 0;
  }
  .ashimwe{
    width: 13px;
    height: 13px;
    position: absolute;
    top: 43px;
  }
  .left{
      width: 35%;
     float: left;
     margin-right:10px;
     margin-bottom: 10px;
     margin-top: 10px;


      margin:0;
  }
  #ijambo{
    position: absolute;
    bottom: 100px;
    /* padding: 2px 2px 2px 2px;  */
  } 
  #izina{
    position: fixed;
    top:0;
    padding-left: 2px;
  }
 
  .listing{
    position: fixed;
    top:8px;
    padding-right: 2px;
  }
  .dropdown-content {
    max-width: 10px;
    right:1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -3;
  }
}
body{
  background-image: url('fiacre.jpg');
  background-repeat:no-repeat;
  background-size: 500px 100%;
  background-position: right;
  padding-right: 4pc;
  background-attachment: fixed;
  background-position-y: top;
}
.o{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
   align-items: center;
  
}

 .left{
    display: flex;
    flex-direction: column;
    float: left;
    top: 100px;
    left: 30px;
    position: fixed;
     
  } 
   .right{
    display: flex;
    flex-direction: column;
    float: right;
    color: #ddd;
  } 
  #img{
    position: fixed;
    top: 1px;
    left: 565px;;
    width:513px;
    height: 1182px;     
   } 
   #ico{
      
        display:flex;
        align-items: right;
        justify-content: space-between;
        float: right;
        position: absolute;
        margin: 2px;
        padding: 4pc;
        right: 100px;
        bottom:0px;
  } 
  .navi{
     
        display: flex;
        flex-direction: row;
         justify-content: space-between; 
        color:#fff;
         
        font-family: 'poppins';
        font-size: 1em;
        font-weight: bold;
  }
  .rest{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  top: 90px;
  right: 58px;
  position: fixed;
  cursor: pointer;
  
}
   /* The container <div> - needed to position the dropdown content */
   .dropdown {
       display: flexbox;
       display: flex;
       float: right;
    
         /* position:  absolute; */
   }
    
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: black;
     right:0px;
     min-width: 360px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
  #ijambo{
    display: flex;
     font-family: 'poppins';
     font-size: 1.2em;
    color: #FFFFFF;
    text-align: left;
    position:  fixed;
    padding: 2pc;
    bottom: 58px;
  }  
.ashimwe{
  font-family: 'Intel';
  font-size: 2em;
  font-weight:bolder;
  width: 543px;
  font-weight: 900;
  color: #fff;
  text-align: left;
}
#watch{
 font-family: 'Intel';
 font-size:1.5em;
 font-weight: 500;
 
 display: flex;
 left:200px;
 top: 270px;
 position: fixed;
}
.vid{

 display: flex;
 left:120px;
 top: 280px;
 position: fixed;
}
.line{ 

  display: flex;
  position: absolute;
  width: 50px;
  height: 0px;
  left: 0px;
  top: 215px;
  border: 1px solid #FFf;
  }
.dropdown {
  display: flexbox;
  display: flex;
  float: right;

    /* position:  absolute; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #141617;
right:0px;
overflow: hidden;
min-width: 360px;
min-height: 100vh;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color:white;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2F2F2F;}

.ccc{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-left: 20px;
top: 400px;
position: fixed;
}
#ntwari{
top:450px;
padding-left: 30px;
position: fixed;
}
 
.a1{
  position:fixed;
   right:65px;
  width: 15px;
  height: 15px;
  top: 262px;
  border-radius: 50%;

}  
.a2{
  position:fixed;
   right:65px;
  width: 15px;
  height: 15px;
  top: 314px;
  border-radius: 50%;
}
.a3{
  position:fixed;
  right:65px;
  width: 15px;
  height: 15px;
  top: 374px;
  border-radius: 50%;
}
.a4{
   position:fixed;
   right:65px;
  width: 15px;
  height: 15px;
  top: 374px;
  border-radius: 50%;
}
.a5{
  position:fixed;
   right:65px;  
  width: 15px;
  height: 15px;
  top: 427px;
  border-radius: 50%;
}

.a6{
  position:fixed;
  right:65px;
  width: 15px;
  height: 15px;
  top: 477px;
  border-radius: 50%;
}
#face{ 
/*  icon "facebook" */
bottom: 78px;
right: 205px;
position: fixed;
}
#face:hover{
color:#DA4C84;
}
#goog{  
/*  icon "google" */

position:fixed;
bottom:  78px;
right: 90px;
}
#goog:hover{
color:#DA4C84;
}
#inst{  
/*  icon "instagram" */
position:fixed;
bottom:  78px;
right: 115px;
}
#inst:hover{
color:#DA4C84;
}
#linked{
position:fixed;
bottom:  78px;
right: 145px;
}
#linked:hover{
color:#DA4C84;
}
#twi{  
/*  icon "twitter" */

position:fixed;
bottom:  78px;
right: 175px;
}
#twi:hover{
color:#DA4C84;
cursor:pointer;
}
.scroller{
 box-sizing: content-box;
 border: solid #141617;
 width: 220px;
 height: 100px;
 padding-bottom: 8px;
 overflow-x: scroll;

 padding-left: 20px;
 top: 100px;
 position: fixed;
}
.scroller::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: lightgray;
}
.scroller::-webkit-scrollbar
{
width: 6px;
background-color: #F5F5F5;
} 
.scroller::-webkit-scrollbar-thumb
{
background-color: purple;
}
#number{
  top: 24px;
  position: fixed;
   left: 430px;
}
#line{
  top: 24px;
  position: fixed;
   left: 570px;
}
#address{
  top: 24px;
  position: fixed;
   left: 580px;
}